#chart1 {
    float:left;
}
#chart2{
	float:left;
}
#chart3 {
	float:left;
}
#chart4 {
	float:left;
}

.selected {
  fill:red;
}

body {
  background-color: lightblue;
  color: darkblue;
  font-family: "Comic Sans MS", cursive, sans-serif,"Times New Roman", Arial, Helvetica;
}
